In [25]:
import requests
import pandas as pd
import numpy as np
#import urllib3 as ur
import urllib.request as ur
import configparser
import os.path
import zipfile
import tinys3
import sys
import logging

import logging as log

In [26]:
Config = configparser.ConfigParser()
Config.read('config.ini')
Config.sections()
def ConfigSectionMap(section):
    dict1 = {}
    options = Config.options(section)
    for option in options:
        try:
            dict1[option] = Config.get(section, option)
            if dict1[option] == -1:
                DebugPrint("skip: %s" % option)
        except:
            print("exception on %s!" % option)
            dict1[option] = None
    return dict1

In [28]:
#!/usr/bin/env python       
merged_dataframe=pd.DataFrame()
df_list_global=list()
class GetData:
   
    def __init__(self):
        """
        Retrieves and stores the urllib.urlopen object for a given url
        """
    def create_directory(self,path):
        try:
            if not os.path.exists(path):
                os.makedirs(path)
        except OSError as exception:
            if exception.errno != errno.EEXIST:
                raise
    
    def setDataFrame(self, df):
        merged_dataframe = df
        
    def getDataFrame(self):
        return merged_dataframe
    
    def setDataFrameList(self, list_of_df):
        
        df_list_global = list_of_df
      
        
    def getDataFrameList(self):
        return df_list_global
    
    def maybe_download(self, url_list, year):
        
        df_list=['df1','df2','df3','df4','df5','df6','df7','df8','df9','df10','df11','df12']
        year=str(year)
        count=0
        print("Downloading data for all the months")
        log.info("Downloading data for all the months")
        
        for i in url_list:

            #fetching the zip file name from the URL
            file_name=i.split("/")
           

            #Downloading data if not already present in the cache
            if(os.path.exists("Part_2_log_datasets_trial/"+year+"/"+file_name[8])):
                print("Data for ",file_name[8]," is already present, pulling it from cache")
                

            else:
                #pbar = ProgressBar(widgets=[Percentage(), Bar()])
                ur.urlretrieve(i, "Part_2_log_datasets_trial/"+year+"/"+file_name[8])
                #ur.urlretrieve(i, "Part_2_log_datasets_trial/"+year+"/"+file_name[8], reporthook)
                print("Data for ",file_name[8],"not present in cache. Downloading data")
                
            
            #unzip the file and fetch the csv file
            zf = zipfile.ZipFile("Part_2_log_datasets_trial/"+year+"/"+file_name[8]) 
            csv_file_name=file_name[8].replace("zip", "csv")
            zf_file=zf.open(csv_file_name)
            
            
            #create a dataframe from the csv and append it to the list of dataframe
            df_list[count]=pd.read_csv(zf_file)
           
            count=count+1 
        
        print("All the files are downloaded and unzipped")
        log.info("All the files are downloaded and unzipped")
        print("Creating a dataframe from the csv and appending it to the list of dataframe")
        log.info("Creating a dataframe from the csv and appending it to the list of dataframe")
        
        self.setDataFrameList(df_list)
        log.info("Merging the dataframe")
        #merging the data into one dataframe
        merged_dataframe=pd.concat([df_list[0],df_list[1],df_list[2],df_list[3],df_list[4],df_list[5],df_list[6],df_list[7],df_list[8],df_list[9],df_list[10],df_list[11]], ignore_index=True)
        self.setDataFrame(merged_dataframe)
        return merged_dataframe
    

    def generate_url(self, year):
        log.info('In generate URL method')
        print("Generating the URL's for the year")
        log.info("Generating the URL's for the year")
        url_list=list()
        #generate the url for fetching the log files for every month's first day
        number_of_months=1

        while number_of_months < 13:
            #find the quarter for the month
            if number_of_months >= 1 and number_of_months < 4:
                quarter="Qtr1"
            elif(number_of_months >= 4 and number_of_months < 7):
                quarter="Qtr2"
            elif(number_of_months >= 7 and number_of_months < 10):
                quarter="Qtr3"
            elif(number_of_months >= 10 and number_of_months < 13):
                quarter="Qtr4"

            if(number_of_months <10):
                url="http://www.sec.gov/dera/data/Public-EDGAR-log-file-data/"+str(year)+"/"+quarter+"/log"+str(year)+'%02d' % number_of_months+"01.zip"

            else:
                url="http://www.sec.gov/dera/data/Public-EDGAR-log-file-data/"+str(year)+"/"+quarter+"/log"+str(year)+str(number_of_months)+"01.zip"
            
            
            url_list.append(url)
            number_of_months=number_of_months+1

        return self.maybe_download(url_list,year)
        
    def fetch_year(self):
        year = input('Enter the year for which you need to fetch the log files: ')
        self.create_directory("Part_2_log_datasets_trial/"+year+"/")
        log.basicConfig(filename='Part_2_log_datasets_trial/EDGAR_LogFileDataset_LogFile.log', level=logging.INFO, format='%(asctime)s %(message)s')

        
        #fetch the year for which the user wants logs
       
        log.info('Start of program')
        year=int(year)
        if(year >= 2003 and year < 2016):
            #calling the function to generate dynamic URL
            return self.generate_url(year)
        else:
            print("EDGAR log files are available for years 2003-2016. Kindly enter a year within this range")
            fetch_year()
    
                
    def create_zip_folder(self,path):
        zipfolder_name=path+'.zip'
        zf = zipfile.ZipFile(zipfolder_name, "w")
        for dirname, subdirs, files in os.walk(path):
            zf.write(dirname)
            for filename in files:
                zf.write(os.path.join(dirname, filename))
        zf.close()
    
    def upload_zip_to_s3(self,path):
        S3_ACCESS_KEY = ConfigSectionMap("Part_1")['s3_access_key']#'AKIAICSMTFLAR54DYMQQ'
        S3_SECRET_KEY = ConfigSectionMap("Part_1")['s3_secret_key']#'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'
        BUCKET_NAME = ConfigSectionMap("Part_1")['s3_bucket']
        #host = ConfigSectionMap("Part_1")['HOST']
        # host='edgardatasets.s3-website-us-west-2.amazonaws.com'
        # Creating a simple connection
        conn = tinys3.Connection(S3_ACCESS_KEY,S3_SECRET_KEY)

        # Uploading a single file
        f = open("Part_2_log_datasets_trial.zip",'rb')
        conn.upload("Part_2_log_datasets_trial.zip",f,BUCKET_NAME)  
        
get_data_obj=GetData()
merged_dataframe=get_data_obj.fetch_year()
#fetch the year for which the user wants logs
#year = input('Enter the year for which you need to fetch the log files: ')
#calling the function to generate dynamic URL

#df=get_data_obj.generate_url(year)


class Process_and_analyse_data():
    
    def __init__(self):
        """
        Retrieves and stores the urllib.urlopen object for a given url
        """
    
    def format_dataframe_columns(self):
        #convert all the integer column in int format
        log.info("Data fetched, started cleaning")
        print("Data fetched, started cleaning")
        df['zone'] = df['zone'].astype('int')
        df['cik'] = df['cik'].astype('int')
        df['code'] = df['code'].astype('int')
        df['idx']=df['idx'].astype('int')
        df['norefer']=df['norefer'].astype('int')
        df['noagent']=df['noagent'].astype('int')
        df['find']=df['find'].astype('int')
        df['crawler']=df['crawler'].astype('int')
        
        #replacing empty strings with NaN 
        df.replace(r'\s+', np.nan, regex=True)
        log.info("Formatted the columns of the dataframe")
        print("Formatted the columns of the dataframe")
        self.handle_nan_values()
        
        
        
    def handle_nan_values(self):
        
        #replace all ip column NaN value by a default ip address 
        df["ip"].fillna("255.255.255.255", inplace=True)

        #perform forward fill to replace NaN values by fetching the next valid value
        df["date"].fillna(method='ffill')

        #perform backward fill to replace NaN values by backpropagating and fetching the previous valid value
        df["time"].fillna(method='bfill')

        #replace all zone column NaN values by 'Not Available' extension
        df["zone"].fillna("Not Available", inplace=True)

        #replace all extension column NaN values by default extension
        df["extention"].fillna("-index.htm", inplace=True)

        #replace all size column NaN values by 0 and convert the column into integer 
        df["size"].fillna(0, inplace=True)
        df['size'] = df['size'].astype('int')

        #replace all user agent column NaN values by the default value 1 (no user agent)
        df["noagent"].fillna("Not Applicable", inplace=True)

        #replace all find column NaN values by the default value 0 (no character strings found)
        df["find"].fillna(0, inplace=True)

        #replace all broser column NaN values by a string
        df["browser"].fillna("Not Available", inplace=True)
        
        
        
        # if the value in idx column is missing, check the value of the extension column, if its "-index.html" set the column's value 1 else 0
        count=0
        for i in df['idx']:
            if(np.isnan(i)):
                if(df['extension'][count]=="-index.htm"):
                    i=1
                else:
                    i=0
            count=count+1

        # if the value of norefer column is missing, check the value of the find column, if it is 0, set the value 1, else it set it 0
        counter=0
        for i in df['norefer']:
            if(np.isnan(i)):
                if(df["find"][counter]==0):
                    i=1
                else:
                    i=0
            counter=counter+1

        # if the value of crawler is missing, check the value of the code, if it is 404 set it as 1 else 0
        count_position=0
        for i in df['crawler']:
            if(np.isnan(i)):
                if(df["code"][count_position]==404):
                    i=1
                else:
                    i=0
            count_position=count_position+1
        log.info("Replacing NaN values with appropriate replacement")
        log.info("Handling missing values completed")
        print("Handling missing values completed")
        
        log.info("Exporting merged dataframe to local system")
        print("Exporting merged dataframe to local system")
        df.to_csv("Part_2_log_datasets_trial/merged_dataframe.csv")
        log.info("Merged dataframe exported")
        print("Merged dataframe exported")
        
        merged_dataframe
        self.identify_cik_accession_number_anomaly()
    
    def fetch_company_name_from_cik(self):
        #we found a list of CIK their company names from a EDGAR's github repository. We are fetching this information to gain the information about company name
        company_df = pd.read_csv('CIK-mapping.csv') 
        #renaming column, so that both the dataframes can be merged on the common column
        company_df = company_df.rename(columns={'CIK': 'cik'})
        company_df['cik'] = company_df['cik'].astype(np.int64)
        #merging both the dataframes
        #merged_df_cik_company_name= df.join(company_df, on='cik', how='left', rsuffix="_review")
        merged_df_cik_company_name=pd.merge(df, company_df, on='cik')
        #merged_df_cik_company_name=pd.merge(df,company_df, left_on='cik',right_on='CIK' )
        #print(merged_df_cik_company_name.head(10))
        merged_df_cik_company_name
        self.identify_cik_accession_number_anomaly()
        
        
    def identify_cik_accession_number_anomaly(self):
        #this operation requires a large amount of time for computaton, thus we are performing this on a subset of data
        small_df=df.head(25)
        #insert a column to check CIK, Accession number discripancy
        small_df.insert(6, "CIK_Accession_Anamoly_Flag", "N")
                
        #check if CIK and Accession number match. The Accession number is divided into three parts, CIK-Year-Number_of_filings_listed.
        #the first part i.e the CIK must match with the CIK column. If not, there exists an anomaly

        count=0;
        print("Creating CIK_Accession_Anomaly_Flag column to check anomaly")
        log.info("Creating CIK_Accession_Anomaly_Flag column to check anomaly")
        
        for i in small_df['accession']:
            #fetch the CIK number from the accession number and convert it into integer
            list_of_fetched_cik_from_accession=[(int(i.split("-")[0]))]

            #check if the CIK number from the column and CIK number fetched from the accession number are equal
            if(small_df['cik'][count]!=list_of_fetched_cik_from_accession):
                small_df['CIK_Accession_Anamoly_Flag'][count]="Y"

            count=count+1
        log.info("CIK Accession Anomaly flag computed")
        print("CIK Accession Anomaly flag computed")
        small_df
        self.get_file_name_from_extension()
        
    def get_file_name_from_extension(self):
        #this operation requires a large amount of time for computaton, thus we are performing this on a subset of data
        small_df=df.head(25)
        small_df.insert(7, "filename", "")
        print("Creating filename column")
        log.info("Creating filename column")
        #Extension rule: if the file name is missing and only the file extension is present, then the file name is document accession number
        count=0
        for i in small_df["extention"]:
            if(i==".txt"):
                # if the value in extension is only .txt, fetch the accession number and append accession number to .txt
                #list_of_fetched_cik_from_accession=int(((df2["accession"].str.split("-")[count])[0]))
                #print((df["accession"]).astype(str))
                #list_of_fetched_cik_from_accession=int(df["accession"])
                small_df["filename"][count]=(small_df["accession"][count])+".txt" 
            else:
                small_df["filename"][count]=i
            count=count+1
        print("Filename column created")
        small_df
        log.info("Filename column created")
        
get_data_obj=GetData()
df=get_data_obj.getDataFrame()
df_list=get_data_obj.getDataFrameList()
process_data_obj=Process_and_analyse_data()
process_data_obj.format_dataframe_columns()

log.info("Zipping the folder for loading in S3")
get_data_obj.create_zip_folder("Part_2_log_datasets_trial")
get_data_obj.upload_zip_to_s3("Part_2_log_datasets_trial.zip")
log.info("Data zipped and loaded on S3")
print("Data zipped and loaded on S3")
log.info("Pipeline completed!!")
log.info("<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>")

Enter the year for which you need to fetch the log files: 2003
Generating the URL's for the year
Downloading data for all the months
Data for  log20030101.zip  is already present, pulling it from cache
Data for  log20030201.zip  is already present, pulling it from cache
Data for  log20030301.zip  is already present, pulling it from cache
Data for  log20030401.zip  is already present, pulling it from cache
Data for  log20030501.zip  is already present, pulling it from cache
Data for  log20030601.zip  is already present, pulling it from cache
Data for  log20030701.zip  is already present, pulling it from cache
Data for  log20030801.zip  is already present, pulling it from cache
Data for  log20030901.zip  is already present, pulling it from cache
Data for  log20031001.zip  is already present, pulling it from cache
Data for  log20031101.zip  is already present, pulling it from cache
Data for  log20031201.zip  is already present, pulling it from cache
All the files are downloaded and unzipped
Creating a dataframe from the csv and appending it to the list of dataframe
Data fetched, started cleaning
Formatted the columns of the dataframe
Handling missing values completed
Exporting merged dataframe to local system
Merged dataframe exported
Creating CIK_Accession_Anomaly_Flag column to check anomaly

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:274: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

CIK Accession Anomaly flag computed
Creating filename column

C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:319: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:301: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Program Files\Anaconda3\lib\site-packages\ipykernel\__main__.py:317: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Filename column created
Data zipped and loaded on S3

In [29]:
combined_df = pd.read_csv("Part_2_log_datasets_trial/merged_dataframe.csv") #  pass your 12 month combined csv here
# group by cik and date and get count of ciks for a date   
temp_df=combined_df.groupby(['cik','date'])['cik'].count()
temp_df.head()

cik          date
-2147483648  2003-04-01     1
             2003-05-01     1
 20          2003-04-01     5
             2003-05-01    13
             2003-06-01     1
Name: cik, dtype: int64

In [30]:
# convert group by result into a frame

grouped_frame = pd.DataFrame(temp_df.reset_index(name = "hit_count"))

grouped_frame

               cik        date  hit_count
0      -2147483648  2003-04-01          1
1      -2147483648  2003-05-01          1
2               20  2003-04-01          5
3               20  2003-05-01         13
4               20  2003-06-01          1
5               20  2003-07-01          1
6               20  2003-08-01          9
7               20  2003-10-01          8
8               20  2003-11-01          1
9               20  2003-12-01          1
10            1750  2003-03-01          8
11            1750  2003-04-01         23
12            1750  2003-05-01         73
13            1750  2003-06-01          1
14            1750  2003-07-01          3
15            1750  2003-08-01         18
16            1750  2003-09-01          8
17            1750  2003-10-01         11
18            1750  2003-11-01          4
19            1750  2003-12-01         14
20            1800  2003-03-01         11
21            1800  2003-04-01         85
22            1800  2003-05-01         42
23            1800  2003-06-01         47
24            1800  2003-07-01        238
25            1800  2003-08-01         64
26            1800  2003-09-01         27
27            1800  2003-10-01         86
28            1800  2003-11-01          3
29            1800  2003-12-01         47
...            ...         ...        ...
207059     1271673  2003-12-01          2
207060     1271674  2003-12-01          2
207061     1271675  2003-12-01          5
207062     1271676  2003-12-01          6
207063     1271677  2003-12-01          5
207064     1271678  2003-12-01          3
207065     1271679  2003-12-01          1
207066     1271680  2003-12-01          5
207067     1271682  2003-12-01          2
207068     1271683  2003-12-01          3
207069     1271708  2003-12-01          2
207070     1271709  2003-12-01          3
207071     1271711  2003-12-01          3
207072     1271712  2003-12-01          6
207073     1271714  2003-12-01          9
207074     1271715  2003-12-01          2
207075     1271716  2003-12-01          3
207076     1271717  2003-12-01          1
207077     1271718  2003-12-01          2
207078     1271719  2003-12-01          3
207079     1271720  2003-12-01          5
207080     1271721  2003-12-01          4
207081     1271722  2003-12-01          4
207082     1271755  2003-12-01          4
207083     1271782  2003-12-01          3
207084     1271783  2003-12-01          4
207085     1271792  2003-12-01          4
207086     1271793  2003-12-01          1
207087     1271794  2003-12-01          1
207088    12300720  2003-07-01          1

[207089 rows x 3 columns]

In [31]:
## Monitor change in hit count

def get_percent_change(curr, prev):
        change_in_perc = ((curr - prev)/prev ) * 100
        return change_in_perc

count = 0
analysis_df = pd.DataFrame()
frame_count = 0
for row in grouped_frame['cik']:
    current_cik = grouped_frame['cik'][count]
    current_hit_count = grouped_frame['hit_count'][count]
    current_date = grouped_frame['date'][count]
    if(count >= 1):
        if(current_cik == grouped_frame['cik'][count-1]):
            change_in_count = current_hit_count - grouped_frame['hit_count'][count-1] 
            change_in_perc = get_percent_change(current_hit_count,grouped_frame['hit_count'][count-1])
            
            if(change_in_perc >= 1000 ): ## decide on threshold
                analysis_df.loc[frame_count, 'cik'] = current_cik
                analysis_df.loc[frame_count, 'date'] = current_date
                analysis_df.loc[frame_count, 'change in %'] = change_in_perc
                frame_count += 1
                #print(current_cik ," changed by",change_in_perc," % on ",current_date)
                
    count +=1
    
analysis_df

            cik        date    change in %
0        1800.0  2003-12-01    1466.666667
1        2034.0  2003-12-01    2200.000000
2        2135.0  2003-07-01    1200.000000
3        2178.0  2003-04-01    1600.000000
4        2488.0  2003-04-01    1266.666667
5        2589.0  2003-07-01    1400.000000
6        2852.0  2003-10-01    1400.000000
7        2969.0  2003-04-01    2050.000000
8        2969.0  2003-10-01    1566.666667
9        3000.0  2003-04-01    1581.818182
10       3000.0  2003-07-01    4180.000000
11       3000.0  2003-12-01    2400.000000
12       3133.0  2003-12-01    1600.000000
13       3197.0  2003-08-01    2900.000000
14       3327.0  2003-04-01    3600.000000
15       3327.0  2003-07-01    5350.000000
16       3370.0  2003-04-01    2900.000000
17       3370.0  2003-12-01    2900.000000
18       3721.0  2003-07-01    1350.000000
19       3906.0  2003-04-01    1700.000000
20       3959.0  2003-04-01    1400.000000
21       4127.0  2003-05-01    1020.000000
22       4164.0  2003-07-01    1833.333333
23       4281.0  2003-12-01   11800.000000
24       4285.0  2003-04-01    1733.333333
25       4285.0  2003-12-01    3600.000000
26       4427.0  2003-06-01    1500.000000
27       4457.0  2003-07-01    1221.428571
28       4611.0  2003-04-01    2600.000000
29       4611.0  2003-07-01    1400.000000
...         ...         ...            ...
5177  1228361.0  2003-08-01    1100.000000
5178  1228874.0  2003-07-01    1000.000000
5179  1230720.0  2003-07-01  158750.000000
5180  1231859.0  2003-08-01    2300.000000
5181  1231868.0  2003-12-01    1171.428571
5182  1232229.0  2003-10-01    2100.000000
5183  1232241.0  2003-08-01    1066.666667
5184  1232241.0  2003-10-01    5225.000000
5185  1233298.0  2003-12-01    1300.000000
5186  1233426.0  2003-08-01    1075.000000
5187  1233426.0  2003-10-01    1000.000000
5188  1234045.0  2003-09-01    1100.000000
5189  1235162.0  2003-10-01    2200.000000
5190  1235511.0  2003-11-01    1600.000000
5191  1236038.0  2003-10-01    1090.000000
5192  1236475.0  2003-10-01    1000.000000
5193  1236483.0  2003-10-01    1000.000000
5194  1236973.0  2003-08-01    1000.000000
5195  1238094.0  2003-12-01    1400.000000
5196  1242652.0  2003-09-01    2500.000000
5197  1244943.0  2003-09-01    1600.000000
5198  1248124.0  2003-10-01    1400.000000
5199  1249008.0  2003-12-01    1300.000000
5200  1252849.0  2003-12-01    2650.000000
5201  1253327.0  2003-10-01    3200.000000
5202  1255821.0  2003-10-01    1350.000000
5203  1260968.0  2003-12-01    1600.000000
5204  1261068.0  2003-12-01    1500.000000
5205  1261654.0  2003-12-01    8500.000000
5206  1261686.0  2003-12-01    1300.000000

[5207 rows x 3 columns]

In [32]:
 
# Load the data into a DataFrame
data = pd.read_csv('Part_2_log_datasets_trial/merged_dataframe.csv') # pass your single month stuff here
#grouping by IP
byIp = data.groupby('ip')
byIp

In [33]:
byCIK = data.groupby('cik')
byCIK['size'].max()

cik
-2147483648       3451
 20             200320
 1750          1885934
 1800          1109400
 1853           340388
 1860             1876
 1923           891800
 1952           149823
 1958             4233
 1961           235119
 1969           100905
 1985           462749
 1988           311016
 2024          1659724
 2034           405226
 2062           525340
 2066           283198
 2070           129650
 2098           126755
 2110          1565851
 2135          1172631
 2145           178706
 2178           254270
 2186           375185
 2230           529339
 2308            11378
 2310           415922
 2380             1637
 2435            29461
 2457           550321
                ...
 1271673          1384
 1271674          1748
 1271675          1417
 1271676          1429
 1271677          1453
 1271678          1427
 1271679           574
 1271680          1427
 1271682          1490
 1271683          5206
 1271708          1444
 1271709          1413
 1271711          1421
 1271712          1425
 1271714          1880
 1271715          1453
 1271716          1376
 1271717          1451
 1271718          1457
 1271719          1410
 1271720          1784
 1271721          1760
 1271722          1431
 1271755       1299486
 1271782        953824
 1271783       1220128
 1271792       2102909
 1271793       2624248
 1271794           790
 12300720         3451
Name: size, dtype: int64

In [34]:
#getting requests with  status code 404
byIp404=data[data['code']==404]
byIp404
#Anamoly-request with 404 has a download size associated.

,Unnamed: 0,ip,date,time,zone,cik,accession,extention,code,size,idx,norefer,noagent,find,crawler,browser
6530,6530,209.11.14.ejd,2003-03-01,02:31:09,500,723527,0000950138-02-000002,.txt,404,3451,0,1,1,0,1,Not Available
10659,10659,208.215.236.hgb,2003-03-01,05:46:14,500,350181,0000917713-01-500021,.txt,404,3451,0,1,0,0,1,win
10660,10660,208.215.236.hgb,2003-03-01,05:46:14,500,19614,0000917713-01-500020,.txt,404,3451,0,1,0,0,1,win
17141,17141,209.178.182.hhi,2003-03-01,10:20:27,500,929037,0000950150-02-000875,favicon.ico,404,3451,0,1,0,0,1,mie
17370,17370,213.219.17.fhc,2003-03-01,10:28:34,500,320193,0000912057-00-053623,00009%2012057-00-053623-index.htm,404,3451,1,1,0,0,1,win
19348,19348,198.81.26.aji,2003-03-01,11:37:23,500,887557,0000891020-02-001234,-index.htm,404,3451,1,0,0,1,1,mie
19367,19367,198.81.26.cci,2003-03-01,11:37:59,500,887557,0000891020-03-000427,.txt,404,3451,0,0,0,1,1,mie
20154,20154,65.49.12.gif,2003-03-01,11:57:54,500,1075124,0000950123-02-006124,t07421ssuppl.htm,404,3451,0,0,0,10,1,mie
25094,25094,66.156.242.jca,2003-03-01,14:05:28,500,726958,0000950131-02-002825,favicon.ico,404,3451,0,1,0,0,1,mie
25890,25890,68.160.23.bcj,2003-03-01,14:25:38,500,350077,0000813828-02-000080,-index.htm,404,3451,1,1,0,0,1,win
25903,25903,68.160.23.bcj,2003-03-01,14:25:56,500,350077,0000813828-02-000054,-index.htm,404,3451,1,1,0,0,1,win
25950,25950,68.6.111.ecb,2003-03-01,14:26:56,500,888693,0000950137-01-504647,c65872ex10-45.h,404,3451,0,0,0,10,1,win
26003,26003,68.160.23.bcj,2003-03-01,14:28:10,500,350077,0000913264-01-500004,-index.htm,404,3451,1,1,0,0,1,win
26008,26008,68.160.23.bcj,2003-03-01,14:28:14,500,350077,0000813828-01-500024,-index.htm,404,3451,1,1,0,0,1,win
26105,26105,68.160.23.bcj,2003-03-01,14:30:16,500,350077,0000913264-00-000006,-index.html,404,3451,1,1,0,0,1,win
33164,33164,200.78.25.bah,2003-03-01,17:14:45,500,809097,9999999997-02-028999,9999999997-02-028995.paper,404,3451,0,1,0,0,1,win
38439,38439,169.232.226.bhe,2003-03-01,19:46:29,500,318154,0000898430-02-003028,favicon.ico,404,3451,0,1,0,0,1,mie
38877,38877,65.170.225.eag,2003-03-01,20:06:12,500,919167,0000950144-96-006332,.txt,404,3451,0,1,0,0,1,Not Available
38878,38878,65.170.225.eag,2003-03-01,20:06:12,500,65100,0000065103-95-000120,.txt,404,3451,0,1,0,0,1,Not Available
38879,38879,65.170.225.eag,2003-03-01,20:06:12,500,822079,0000315066-95-002644,.txt,404,3451,0,1,0,0,1,Not Available
38880,38880,65.170.225.eag,2003-03-01,20:06:12,500,843075,0000950152-96-003485,.txt,404,3451,0,1,0,0,1,Not Available
44789,44789,66.108.221.eci,2003-04-01,00:24:03,500,353569,0000912057-99-006075,-index.html,404,3451,1,1,0,0,1,Not Available
44790,44790,66.108.221.eci,2003-04-01,00:24:03,500,353569,0001047469-99-032320,-index.html,404,3451,1,1,0,0,1,Not Available
44791,44791,66.108.221.eci,2003-04-01,00:24:03,500,353569,0000912057-00-025704,-index.html,404,3451,1,1,0,0,1,Not Available
44792,44792,66.108.221.eci,2003-04-01,00:24:04,500,353569,0000912057-99-009489,-index.html,404,3451,1,1,0,0,1,Not Available
44793,44793,66.108.221.eci,2003-04-01,00:24:04,500,353569,0001047469-99-028505,-index.html,404,3451,1,1,0,0,1,Not Available
44794,44794,66.108.221.eci,2003-04-01,00:24:04,500,353569,0001047469-99-026370,-index.html,404,3451,1,1,0,0,1,Not Available
44795,44795,66.108.221.eci,2003-04-01,00:24:04,500,353569,0001047469-99-031969,-index.html,404,3451,1,1,0,0,1,Not Available
44801,44801,66.108.221.eci,2003-04-01,00:24:08,500,1057334,0000912057-99-006225,-index.html,404,3451,1,1,0,0,1,Not Available
44802,44802,66.108.221.eci,2003-04-01,00:24:08,500,1057334,0000912057-00-015362,-index.html,404,3451,1,1,0,0,1,Not Available
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1634053,1634053,63.175.23.bhf,2003-12-01,17:08:42,500,866535,0000950172-03-003389,pal12480510.txt,404,3451,0,1,0,0,1,win
1653423,1653423,141.153.232.djb,2003-12-01,18:28:35,500,1269086,0000905718-03-000308,itxc13d.tx,404,3451,0,0,0,10,1,win
1658698,1658698,66.93.138.hgh,2003-12-01,19:12:14,500,1140486,0001193125-03-087125,ds1.ht,404,3451,0,1,0,0,1,lin
1665863,1665863,209.213.198.ehg,2003-12-01,20:28:43,500,1140486,0001193125-03-087125,ds1.ht,404,3451,0,1,0,0,1,win
1667525,1667525,64.163.129.jeh,2003-12-01,20:49:27,500,1140486,0001193125-03-087125,ds1.ht,404,3451,0,0,0,10,1,win
1673034,1673034,69.7.176.fec,2003-12-01,21:47:08,500,1078236,0001179110-03-000660,-index.htm,404,3451,1,1,0,0,1,Not Available
1673049,1673049,69.7.176.fec,2003-12-01,21:47:13,500,1046356,0001179110-03-000719,-index.htm,404,3451,1,1,0,0,1,Not Available
1673055,1673055,69.7.176.fec,2003-12-01,21:47:15,500,1046356,0001179110-03-000720,-index.htm,404,3451,1,1,0,0,1,Not Available
1673059,1673059,69.7.176.fec,2003-12-01,21:47:18,500,1046356,0001179110-03-000724,-index.htm,404,3451,1,1,0,0,1,Not Available
1673063,1673063,69.7.176.fec,2003-12-01,21:47:19,500,1046356,0001179110-03-000725,-index.htm,404,3451,1,1,0,0,1,Not Available
1673068,1673068,69.7.176.fec,2003-12-01,21:47:20,500,1046356,0001179110-03-000726,-index.htm,404,3451,1,1,0,0,1,Not Available
1673071,1673071,69.7.176.fec,2003-12-01,21:47:21,500,1046356,0001179110-03-000728,-index.htm,404,3451,1,1,0,0,1,Not Available
1673081,1673081,69.7.176.fec,2003-12-01,21:47:23,500,1141517,0001179110-03-000750,-index.htm,404,3451,1,1,0,0,1,Not Available
1673114,1673114,69.7.176.fec,2003-12-01,21:47:36,500,1095651,0001179110-03-001154,-index.htm,404,3451,1,1,0,0,1,Not Available
1673123,1673123,69.7.176.fec,2003-12-01,21:47:38,500,926326,0001179110-03-001171,-index.htm,404,3451,1,1,0,0,1,Not Available
1673127,1673127,69.7.176.fec,2003-12-01,21:47:39,500,926326,0001179110-03-001173,-index.htm,404,3451,1,1,0,0,1,Not Available
1673128,1673128,69.7.176.fec,2003-12-01,21:47:39,500,926326,0001179110-03-001172,-index.htm,404,3451,1,1,0,0,1,Not Available
1673135,1673135,69.7.176.fec,2003-12-01,21:47:41,500,926326,0001179110-03-001174,-index.htm,404,3451,1,1,0,0,1,Not Available
1673144,1673144,69.7.176.fec,2003-12-01,21:47:45,500,940659,0001179110-03-001316,-index.htm,404,3451,1,1,0,0,1,Not Available
1673147,1673147,69.7.176.fec,2003-12-01,21:47:46,500,801907,0001179110-03-001366,-index.htm,404,3451,1,1,0,0,1,Not Available
1673157,1673157,69.7.176.fec,2003-12-01,21:47:51,500,820237,0001179110-03-001458,-index.htm,404,3451,1,1,0,0,1,Not Available
1673164,1673164,69.7.176.fec,2003-12-01,21:47:53,500,896264,0001179110-03-001655,-index.htm,404,3451,1,1,0,0,1,Not Available
1673172,1673172,69.7.176.fec,2003-12-01,21:47:58,500,1111111,0001179110-03-001837,-index.htm,404,3451,1,1,0,0,1,Not Available
1673174,1673174,69.7.176.fec,2003-12-01,21:48:00,500,798288,0001179110-03-001876,-index.htm,404,3451,1,1,0,0,1,Not Available
1673175,1673175,69.7.176.fec,2003-12-01,21:48:01,500,798288,0001179110-03-001878,-index.htm,404,3451,1,1,0,0,1,Not Available
1673178,1673178,69.7.176.fec,2003-12-01,21:48:04,500,731502,0001179110-03-002070,-index.htm,404,3451,1,1,0,0,1,Not Available
1673189,1673189,69.7.176.fec,2003-12-01,21:48:09,500,201461,0001179110-03-002390,-index.htm,404,3451,1,1,0,0,1,Not Available
1673190,1673190,69.7.176.fec,2003-12-01,21:48:09,500,731502,0001179110-03-002115,-index.htm,404,3451,1,1,0,0,1,Not Available
1673192,1673192,69.7.176.fec,2003-12-01,21:48:10,500,201461,0001179110-03-002391,-index.htm,404,3451,1,1,0,0,1,Not Available
1673350,1673350,129.89.100.eci,2003-12-01,21:50:51,500,948846,0000948846-03-000009,f10k_032603.ht,404,3451,0,1,0,0,1,win

In [35]:
byIp404=data[data['code']==404].groupby('ip')
byIp404['size'].mean()

ip
12.101.195.cjj     3451
12.101.37.fib      3451
12.107.235.ffb     3451
12.108.126.bji     3451
12.109.0.iei       3451
12.109.135.ide     3451
12.109.163.jje     3451
12.158.51.gjc      3451
12.16.59.abf       3451
12.2.2.ech         3451
12.234.10.bij      3451
12.29.196.eja      3451
12.3.120.bji       3451
12.32.92.eef       3451
12.33.108.bbb      3451
12.34.128.ged      3451
12.38.177.aea      3451
12.40.163.bic      3451
12.40.163.cah      3451
12.40.163.cci      3451
12.40.163.cih      3451
12.40.163.fad      3451
12.40.163.jid      3451
128.110.244.igg    3451
128.113.26.bic     3451
128.138.120.jdf    3451
128.205.141.hbf    3451
128.222.32.jde     3451
129.105.133.bcf    3451
129.171.177.gch    3451
                   ...
66.28.105.fbd      3451
66.43.90.fdh       3451
66.54.155.bid      3451
66.63.207.jca      3451
66.7.16.bji        3451
66.81.212.jfd      3451
66.81.215.jig      3451
66.93.138.hgh      3451
67.104.17.fdf      3451
67.117.135.ijh     3451
67.117.174.adj     3451
68.102.5.jdd       3451
68.145.227.jag     3451
68.16.112.dfg      3451
68.160.23.bcj      3451
68.2.128.dfh       3451
68.38.157.ecg      3451
68.39.190.djf      3451
68.45.195.eja      3451
68.48.38.hbc       3451
68.54.128.beg      3451
68.55.168.fdi      3451
68.6.111.ecb       3451
68.76.80.bah       3451
68.76.96.jeb       3451
68.83.26.abc       3451
68.85.91.ejd       3451
68.99.233.icd      3451
69.7.176.fec       3451
81.225.162.cib     3451
Name: size, dtype: int64

In [36]:
#1. Simple describe function on data
summary = data.describe()
summary
#Analysis: total number of requests on this day-  261289
#Average request per day :215
#Max file download size:5.259544e+07
#Avergae File donwload size:	1.703470e+05

,Unnamed: 0,zone,cik,code,size,idx,norefer,noagent,find,crawler
count,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06,1.683399e+06
mean,8.416990e+05,4.285983e+02,8.301504e+05,2.129503e+02,1.155365e+05,3.664794e-01,5.022957e-01,3.732983e-02,2.465982e+00,4.909056e-02
std,4.859556e+05,4.518813e+01,2.372401e+06,3.514395e+01,4.230135e+05,4.818427e-01,4.999949e-01,1.895688e-01,3.670821e+00,2.160572e-01
min,0.000000e+00,4.000000e+02,-2.147484e+09,2.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,4.208495e+05,4.000000e+02,7.724060e+05,2.000000e+02,2.530000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,8.416990e+05,4.000000e+02,9.346500e+05,2.000000e+02,4.869000e+03,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
75%,1.262548e+06,5.000000e+02,1.095073e+06,2.000000e+02,3.675900e+04,1.000000e+00,1.000000e+00,0.000000e+00,4.000000e+00,0.000000e+00
max,1.683398e+06,5.000000e+02,1.230072e+07,4.160000e+02,6.428835e+07,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+01,1.000000e+00